/* All styles for your header Components live here */

.header-layout {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 575px;
    height: 100px;

}

.header-img {
    width: 50px;
    padding-top: 7px;
    padding-left: 3px;
    }

.header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
    align-items: end;

}

.header-text .intro {
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: 0px;
    font-size: 14px;
}

.header-text .handle {
    color: lightgray;
    padding-left: 5px;
    font-size: 12px;
    margin-bottom: 0px;
}

.header-text .header-body {
    margin-top: 0px;
    padding-left: 8px;
    font-size: 15px;
}